body {
    background-color: orange;
    color: rgb(252, 252, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    text-align: center;
}
header {
    background-color: black;
    color: white;
    padding: 10px;
}




.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-top: 20px;

}

.container figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    word-spacing: 500px;

}

nav a {
    text-decoration: white;
    color: rgb(71, 7, 114);
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ae00ff;
    text-decoration: underline;
    cursor: crosshair; 

   }


.container figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container figure:hover::after {
    opacity: 1.5;
}

.container figcaption{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: blueviolet;
    text-align: center;
    transition: bottom 0.3s ease;

}

.container figure:hover:: figcaption{
    bottom: 0;
}
